<?xml version="1.0" encoding="utf-8" ?>
<configuration><appSettings>
    <add key="Ftp" value="qa.mcruises.ru"/>
    <add key="ftpLogin" value="master_mcruises_maps"/>
    <add key="ftpPass" value="KCj9ZXPkXRmCllQmLHVz7K8P9CHtF3DCXWQ6ztNx"/>
    <add key="saPass" value="LmjCeTih4FSTCuwqO9TDow=="/>
    <add key="CC" value="4"/>
  </appSettings>
  <connectionStrings>
    <add name="total_services" connectionString = "Data Source=192.168.10.4;Initial Catalog=total_services;User ID={0}; pwd={1}; Timeout=30;"/>
    <add name="total_services_test" connectionString = "Data Source=192.168.10.4;Initial Catalog=ts2;User ID={0}; pwd={1}; Timeout=30;"/>
    <add name="master" connectionString="Data Source=192.168.10.4;Initial Catalog=lanta;User ID={0}; pwd={1}; Timeout=30;"/>
    <add name="master_test" connectionString="Data Source=192.168.10.4;Initial Catalog=test;User ID={0}; pwd={1}; Timeout=30;"/>
  </connectionStrings>
</configuration>